// Цвета
$white: #E6D6C7;
$black: #191919;
$blue: #006EF3;
$red: #FF6766;

.ie-body {
  background-color: $black;
}

.ie-menu {
  &__list {
    a {
      color: $white;
      &:after {
        background-color: $white;
      }
    }
  }
}

.ie-header {
  &__list {
    a {
      color: $black;
      &:before {
        background-color: $white;
      }
      &:after {
        background-color: $white;
        border: 2px solid $black;
      }
    }
  }
}

.ie-title {
  color: $white;
}

.ie-subtitle {
  color: $white;
}

.ie-slider {
  &__item {
    color: $black;
    &--1 {
      background-color: $white;
    }
    &--2 {
      background-color: $blue;
    }
    &--3 {
      background-color: $red;
    }
    &--4 {
      background-color: $blue;
    }
    &--5 {
      background-color: $blue;
    }
    &--6 {
      background-color: $black;
      color: $white;
      border: 2px solid $white;
    }
    &--7 {
      background-color: $white;
    }
    &--8 {
      background-color: $red;
    }
  }
  &__list {
    li {
      border: 2px solid $black;
    }
  }
  &__sticker {
    background-color: $blue;
    color: $white;
  }
  .swiper-pagination-bullet {
    border: 1.5px solid $white;
    background-color: $black;
  }
  .swiper-pagination-bullet-active {
    background-color: $white;
  }
  &__toggle {
    color: $white;
  }
  &__backing {
    background-color: $white;
  }
  &__btn {
    color: $white;
    border: 2px solid $white;
    background-color: $black;
    &:hover {
      background-color: $white;
      color: $black;
    }
  }
}

.ie-news {
  &__item {
    color: $black;
    &--2 {
      background-color: $blue;
    }
  }
  &__hint {
    background-color: $white;
  }
}

.ie-newscenter {
  color: $white;
  &__name {
    color: $blue;
    &:after {
      background-color: $blue;
    }
  }
  &__location {
    color: #867A7A;
  }
  &__title {
    a {
      color: $white;
    }
  }
  &__link {
    color: $white;
    &:hover {
      color: $blue;
    }
  }
  &__date {
    color: #867A7A;
  }
  &__more {
    a {
      border: 2px solid $white;
      color: $white;
      &:hover {
        background-color: $white;
        color: $black;
      }
    }
  }
}

.ie-social {
  &__link {
    color: $white;
    &:hover {
      color: $blue;
    }
  }
}

.ie-footer {
  color: $white;
  &__list {
    a {
      color: $white;
      &:hover {
        color: #867A7A;
      }
    }
  }
  &__sticker {
    background-color: $blue;
  }
  &__text {
    color: #9A9A9A;
  }
  &__tels {
    li {
      &:before {
        background-color: $white;
      }
    }
    a {
      color: $white;
      &:hover {
        color: $blue;
      }
    }
  }
}