// ie-footer
footer.ie-footer 
	.wrapper-grid

		// ie-social
		.ie-social
			.ie-social__row
				a(href="#").ie-social__link facebook
					svg(width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg")
						path(d="M1 16L16 1" stroke-width="2" stroke-miterlimit="10")
						path(d="M3.19727 1H16.0002V13.8029" stroke-width="2" stroke-miterlimit="10")
				a(href="#").ie-social__link vkontakte
					svg(width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg")
						path(d="M1 16L16 1" stroke-width="2" stroke-miterlimit="10")
						path(d="M3.19727 1H16.0002V13.8029" stroke-width="2" stroke-miterlimit="10")
				a(href="#").ie-social__link instagram
					svg(width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg")
						path(d="M1 16L16 1" stroke-width="2" stroke-miterlimit="10")
						path(d="M3.19727 1H16.0002V13.8029" stroke-width="2" stroke-miterlimit="10")
				a(href="#").ie-social__link telegram
					svg(width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg")
						path(d="M1 16L16 1" stroke-width="2" stroke-miterlimit="10")
						path(d="M3.19727 1H16.0002V13.8029" stroke-width="2" stroke-miterlimit="10")
		//	/ie-social

		.row-grid.ie-footer__row
			.ie-footer__col
				.ie-footer__block
					.ie-footer__title Критерии отнесения предпринимателейк субъектам МСП
					ul.ie-footer__list 
						li 
							a(href="#") Финансовая поддержка
						li 
							a(href="#") Лизинговая поддержка
						li 
							a(href="#") Обеспечение доступак закупкам крупнейших заказчиков

						li 
							a(href="#") Информационно-маркетинговая поддержка
						li 
							a(href="#") Правовая поддержка
						li 
							a(href="#") Имущественная поддержка
						li 
							a(href="#") Услуги Корпорации МСП и ее дочерних обществ
						li 
							a(href="#") Инфраструктура поддержки
						li 
							a(href="#") Программы обучения Корпорации МСП
						li 
							a(href="#") Поддержка инновационных субъектов МСП
			.ie-footer__col
				.ie-footer__block
					.ie-footer__title Развитие cельскохозяйственной кооперации
					ul.ie-footer__list 
						li 
							a(href="#") Меры поддержки сельскохозяйственной кооперации
						li 
							a(href="#") Обучающие семинары
				.ie-footer__block
					.ie-footer__title Закупки
					ul.ie-footer__list 
						li 
							a(href="#") Положение о закупках
						li 
							a(href="#") План закупок
						li 
							a(href="#") Реестр закупок
						li 
							a(href="#") Закупки у МСП
						li 
							a(href="#") План закупок инновационной продукции
						li 
							a(href="#") Сведения о договорах
			.ie-footer__col
				.ie-footer__block
					.ie-footer__title Моногорода
				.ie-footer__block
					.ie-footer__title Органам власти субъектов РФ
				.ie-footer__block
					.ie-footer__title Организациям инфраструктуры поддержки
					ul.ie-footer__list 
						li 
							a(href="#") Региональным гарантийным организациям
						li 
							a(href="#") Консультационной инфраструктуре
			.ie-footer__col
				.ie-footer__block
					.ie-footer__title Банкам и кредитным организациям
					ul.ie-footer__list 
						li 
							a(href="#") Правила аккредитации банков
						li 
							a(href="#") Список аккредитованных банков 
						li 
							a(href="#") Размещение денежных средств Корпорации на банковских депозитах
						li 
							a(href="#") Программа стимулирования кредитования субъектов МСП
			.ie-footer__col
				.ie-footer__block
					.ie-footer__title О Корпорации 
					ul.ie-footer__list 
						li 
							a(href="#") Деятельность 
						li 
							a(href="#") Управление 
						li 
							a(href="#") Публичная информация
						li 
							a(href="#") Противодействие коррупции 
						li 
							a(href="#") Партнеры
						li 
							a(href="#") Отзывы о Корпорации
						li 
							a(href="#") Реквизиты
						li 
							a(href="#") Контакты
			.ie-footer__col
				.ie-footer__block
					.ie-footer__title Пресс-служба 
					ul.ie-footer__list 
						li 
							a(href="#") Новости Корпорации
						li 
							a(href="#") Новости МСП
						li 
							a(href="#") Фото и видео материалы
			.ie-footer__sticker 
				p Нашли ошибку в тексте?
				p Выделите ошибку мышкой и нажмите Ctrl+Enter.
				p Спасибо за помощь!
		.ie-footer__bottom 
			.row-grid
				.ie-footer__col-1
					.ie-footer__text Акционерное общество «Федеральная корпорация по развитию малого и среднего предпринимательства» действует в соответствии с Гражданским кодексом Российской Федерации, Федеральным законом от 26.12.1995 № 208-ФЗ «Об акционерных обществах», Федеральным законом от 24.07.2007 № 209-ФЗ «О развитии малого и среднего предпринимательства в Российской Федерации», Указом Президента Российской Федерации от 05.06.2015 № 287 «О мерах по дальнейшему развитию малого и среднего предпринимательства», иными законодательными и нормативными правовыми актами Российской Федерации и Уставом.
					.ie-footer__copyright © 2014-2021 АО «Корпорация МСП»
				.ie-footer__col-2
					ul.ie-footer__tels
						li 
							a(href="tel:+78003501010") +7 800 350-10-10
						li 
							a(href="#") +7 495 698-98-00
					p Москва, Славянская площадь, д.4, стр.1
// /ie-footer