// ie-header
header.ie-header
	.wrapper-grid

		.ie-header__row
			.ie-header__col 
				a(href="#").ie-header__logo
					img(src="img/logo.svg", alt="") 

			.ie-header__col 
				// ie-menu
				//- .ie-menu--left .ie-menu--right
				.js-ie-menu.ie-menu.ie-menu--right
					#ie-menu-btn.ie-menu__btn.hamburger.hamburger--squeeze
						.hamburger-box
							.hamburger-inner
					nav.ie-menu__nav
						ul.ie-menu__list
							li
								a(href="tel:+78003501010") +7 800 350-10-10
							li
								a(href="#") о корпорации
							li
								a(href="#") пресс-служба
							li
								a(href="#") контакты
							li
								a(href="#") обратная связь
						#ie-menu-close.ie-menu__close
					#ie-menu-over.ie-menu__over
				// /ie-menu

				.ie-header__bottom
					ul.ie-header__list 
						li
							a(href="#") 
								span бизнесу
						li
							a(href="#") 
								span банкам
						li
							a(href="#") 
								span регионам
					a(href="#").ie-header__search
						svg(width="33" height="32" viewBox="0 0 33 32" fill="none" xmlns="http://www.w3.org/2000/svg")
							path(d="M14.66 28.32C22.2042 28.32 28.32 22.2042 28.32 14.66C28.32 7.11579 22.2042 1 14.66 1C7.11579 1 1 7.11579 1 14.66C1 22.2042 7.11579 28.32 14.66 28.32Z" stroke="#E6D6C7" stroke-width="2" stroke-miterlimit="10" stroke-linejoin="round")
							path(d="M25.5898 24.2L31.7398 30.36" stroke="#E6D6C7" stroke-width="2" stroke-miterlimit="10" stroke-linejoin="round")


// /ie-header