.ie-newscenter {
  font-family: "PtrootUI", sans-serif;
  line-height: 1.2;
  margin-bottom: 200px;
  padding: 0 30px;
  &__container {
    max-width: 520px;
    margin-left: auto;
    margin-right: auto;
  }
  &__item {
    margin-bottom: 84px;
  }
  &__name {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 30px;
    position: relative;
    padding-left: 20px;
    &:after {
      content: '';
      display: block;
      width: 9px;
      height: 9px;
      border-radius: 100%;
      position: absolute;
      top: 5px;
      left: 0;
    }
  }
  &__location {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  &__title {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 46px;
    a {
      text-decoration: none;
    }
  }
  &__bottom {
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: bold;
  }
  &__date {
    margin-right: 46px;
  }
  &__link {
    text-decoration: none;
    transition: 0.2s;
  }
  &__more {
    text-align: center;
    padding-top: 20px;
    a {
      display: inline-flex;
      align-items: center;
      padding: 1px 10px 4px;
      border-radius: 25px;
      font-size: 18px;
      font-weight: 500;
      text-decoration: none;
      transition: 0.2s;
      white-space: nowrap;
      svg {
        width: 8px;
        margin-left: 5px;
        margin-top: 3px;
        transition: 0.2s;
      }
    }
  }
  @media (max-width: $break_xl) {
    margin-bottom: 120px;
    &__item {
      margin-bottom: 50px;
    }
  }
  @media (max-width: $break_xs) {
    padding: 0 15px;
    margin-bottom: 60px;
    &__item {
      margin-bottom: 30px;
    }
    &__name {
      margin-bottom: 20px;
    }
    &__title {
      margin-bottom: 20px;
    }
  }
}
