.ie-news {
  font-family: "PtrootUI", sans-serif;
  line-height: 1.2;
  margin-bottom: 60px;
  .row-grid {
    @include no-gutter();
  }
  &__col {
    @include col(4);
    @include col-md(6);
    @include col-sm(12);
  }
  &__item {
    display: block;
    height: 100%;
    border-radius: 40px;
    overflow: hidden;
    text-decoration: none;
    &--2 {
      padding: 40px 60px;
    }
    &--3 {
      display: flex;
      justify-content: center;
      padding: 0 40px;
      border-radius: 0;
    }
  }
  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  &__date {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 47px;
  }
  &__title {
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 30px;
  }
  &__text {
    font-size: 16px;
    font-weight: 500;
  }
  &__hints {
    max-width: 408px;
  }
  &__hint {
    padding: 24px 15px 26px 33px;
    border-radius: 60px;
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: 500;
    &:last-child {
      width: 80%;
      padding: 14px 15px 16px 33px;
      border-radius: 60px 60px 60px 0;
    }
  }
  @media (max-width: $break_xl) {
    &__date {
      margin-bottom: 30px;
    }
    &__title {
      font-size: 20px;
      margin-bottom: 25px;
    }
    &__hint {
        padding: 12px 10px 15px 20px;
        &:last-child {
          padding: 5px 10px 7px 20px;
        }
    }
    &__col {
      margin-bottom: 30px;
    }
  }
  @media (max-width: $break_xs) {
    margin-bottom: 40px;
    &__col {
      margin-bottom: 20px;
    }
    &__item {
      &--2 {
        padding: 30px 20px;
      }
      &--3 {
        padding: 0 20px;
      }
    }
  }
}