.ie-social {
  padding: 0 30px;
  font-family: "PtrootUI", sans-serif;
  line-height: 1.2;
  font-size: 40px;
  margin-bottom: 65px;
  &__row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-left: -80px;
  }
  &__link {
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    margin-left: 80px;
    padding: 10px 0;
    transition: 0.2s;
    svg {
      margin-top: 7px;
      margin-left: 5px;
    }
  }
  @media (max-width: $break_xl) {
    margin-bottom: 40px;
    font-size: 24px;
    &__row {
      margin-left: -30px;
    }
    &__link {
      margin-left: 30px;
      svg {
        width: 10px;
      }
    }
  }
  @media (max-width: $break_xs) {
    padding: 0;
    margin-bottom: 10px;
    &__link {
      padding: 5px 0;
    }
  }
}