/* settings */
html {
  height: 100%;
}
.ie-body {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.mobile-hide {
  @media (max-width: $break_sm) {
    display: none !important;
  }
}
.mobile-visible {
  @media (min-width: $break_sm + 1) {
    display: none !important;
  }
}
.img-responsive {
  position: relative;
  overflow: hidden;
  img {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
  svg {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
  &:after {
    content: '';
    display: block;
    padding-top: 56.25%;
  }
}
.row-grid {
  @include row-flex();
}
.wrapper-grid {
  @include wrapper();
}
*:-webkit-autofill {
  -webkit-box-shadow: inset 0 0 0 50px #fff !important;
}
*::placeholder {
  color: #a9a9a9;
  opacity: 1;
}
.ie-page {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
.ie-content {
  flex-grow: 1;
}
.ie-title {
  font-family: "PtrootUI", sans-serif;
  font-size: 83px;
  font-weight: normal;
  line-height: 1.5;
  text-align: center;
  @media (max-width: $break_xl) {
    font-size: 50px;
  }
  @media (max-width: $break_sm) {
    font-size: 40px;
  }
  @media (max-width: $break_xs) {
    font-size: 30px;
  }
}
.ie-subtitle {
  padding: 0 30px;
  font-size: 40px;
  font-weight: normal;
  margin-bottom: 30px;
  @media (max-width: $break_xl) {
    font-size: 30px;
  }
  @media (max-width: $break_sm) {
    font-size: 20px;
  }
  @media (max-width: $break_xs) {
    padding: 0 15px;
  }
}
* {
  box-sizing: border-box;
}
img {
  max-width: 100%;
}
#lightTheme {
  display: none;
}
/* /settings */